* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green-Primary: hsl(75, 94%, 57%);
  --white-Neutral: hsl(0, 0%, 100%);
  --grey-Neutral: hsl(0, 0%, 20%);
  --darkGrey-Neutral: hsl(0, 0%, 12%);
  --offBlack-Neutral: hsl(0, 0%, 8%);
}
body {
  color: var(--white-Neutral);
  background-color: var(--offBlack-Neutral);
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.container {
  background-color: var(--darkGrey-Neutral);
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
}
img {
  
  border-radius: 50%;
  width: 30%;
}

header{
  display: grid;
  }

  header img ,p,h1,h4{
    margin: auto;
      }
      header img {
        margin-top:1rem ;
          }
    header h1{
        margin: auto;
        margin-top: 1.6rem;
        font-size: 1.5rem;
        font-weight:600 ;
          }
          header h4{
            margin: auto;
            margin-top: 0.5rem;
             color: var(--green-Primary);
             font-size: .8rem;
            font-weight:600 ;
              }
              header p{
                margin: auto;
                margin-top: 1.2rem ;
                margin-bottom: 1.2rem;
                font-size: .8rem;
                font-weight:400 ;
                  }


.container > div {
  background-color: var(--grey-Neutral);
  width: 80%;
  margin: 16px auto;
  height: 2.5rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
.container > div:hover{
  cursor: pointer;
  background-color: var(--green-Primary);
  
}
.container > div:hover a{
  color: var(--darkGrey-Neutral);
}

div a{
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: var(--white-Neutral);
}




